body{
	padding: 70px;
	padding-bottom: 20px;
}

#bottom{
	margin-top: 15px;
}

p{
	 font-family: 'Ravi Prakash', cursive;
}

h1 , ul{
	font-family: 'Ravi Prakash', cursive;
}

#head{
	font-family: 'Ravi Prakash', cursive;
}